__latexindent_temp.tex
Temurbek_Sabirov_Resume.aux
Temurbek_Sabirov_Resume.fls
Temurbek_Sabirov_Resume.fdb_latexmk
Temurbek_Sabirov_Resume.log
Temurbek_Sabirov_Resume.synctex.gz
.DS_Store
Temurbek_Sabirov_Resume.out
tmp